body {
    background-color: white;
    min-width: 480px;
}
.history-container {
    display: flex;
    width: 100%;
    margin: 1em;
    margin-left: 4em;
    background-color: #ffffff;
}
.history {
    width: 64%;
    background-color: rgb(236, 236, 236);
    border-radius: 10px;
    border-color: rgba(151, 151, 151, 1);
    border-style: solid;
    border-width: 1px;
    margin: 1em;
    /* min-width: 480px; */
}
.purchase-item {
    display:  flex;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: rgb(193, 193, 193);
    margin: 1em;
    padding-bottom: 1em;
}
.item-info {
    flex: 1;
    display: inline-block;
    width: 33%;
}
.date-of-purchase {
    display: block;
    text-align: left;
    font-size: large;
}
.store-name {
    display: inline-block;
    text-align: left;
    width: 100px;
    font-size: large;
    min-width: 100px;
}
.item-total {
    flex: 1;
    display: inline-block;
    text-align: right;
    padding-right: 10px;
}
.total-title {
    /* display: inline-block; */
    font-size: large;
    width: 50%;
    text-align: left;
}
.total-amount {
    /* display: inline-block; */
    /* margin-left: 0px; */
    font-weight:  800;
    width: 50%;
    /* text-align:  right; */
    /* margin-right:  0px; */
}
.item-details {
    /* flex: 1; */
    text-align: unset;
    margin-right: 0;
    /* display: flex; */
}
.item-view-details {
    margin-top: 20px;
    display: block;
}
.item-view-details a {
    text-decoration: none !important;
    color: rgb(95, 197, 209);
    font-weight: 800;
    font-size: large;
}
.item-ct-title {
    display: inline-block;
    color: rgb(131, 150, 73);
    font-weight: 600;
    text-align: right;
}
.item-ct-money {
    display: inline-block;
    text-align: right;
    color: rgb(131, 150, 73);
    font-weight: 600;
    /* margin-left: 4px; */
    font-size: large;
}
.history-button {
    width: 18em;
    height: 3em;
    text-align: center;
    border-radius: 5px;
    display:  block;
    margin-left: auto;
    margin-right:  auto;
    margin-top: 2em;
    margin-bottom: 1em;
    background-color:  white;
    color: #565454;
    font-size: medium;
    border-color: rgba(151, 151, 151, 1);
    border-width: 1px;
}
.history-title {
    text-align: left;
    font-size: x-large;
    margin: 1em;
    font-weight:  bold;
    color: rgb(73,73,73);
}
.history-image-logo {
    display: inline-block;
    width: 40px;
    min-width:  40px;
    position:  relative;
    top: 15px;
}



@media screen and (max-width: 767px) {
    .purchase-item {
        flex-direction: column;
    }
    .history-image-logo {
        display: block;
        width: 40px;
        min-width: 40px;
        position: relative;
        top: -50px;
        left: 100px;
    }
    .item-info {
        /* flex: 1; */
        /* display: inline-block; */
        width: 100%;
        height: 42px;
    }
    .date-of-purchase {
        display: block;
        text-align: left;
        font-size: large;
    }
    .item-total {
        /* flex: 1; */
        display: flex;
        /* text-align: left; */
        padding-right: 0px;
    }
    .item-view-details {
        text-align: right;
        display:  block;
        margin-top: 0px;
    }
    .item-ct-title {
        width: 50%;
        display: inline-block;
        /* margin-left: 0px; */
        min-width: 128px;
        text-align: left;
    }
    .item-ct-money {
        width: 47%;
        text-align: right;
        margin-right: 0px;
    }





}
/*
@media screen and (max-width: 767px) and (min-width: 481px) {
    body {

    }
}
@media screen and (max-width: 1023px) and (min-width: 768px) {
    body {

    }
}
@media screen and (min-width: 1024px) {
    body {

    }
}*/
